﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @Html.Partial("/Partial/_PartialHeader")
    <div>
        @RenderBody()
    </div>
    @Html.Partial("/Partial/_PartialFooter")
</body>
</html>