﻿<!DOCTYPE html>
<html>
<head>
    <link href="~/content/stylecontent.css" rel="stylesheet" />
                                                                                             
    <meta name="viewport" content="width=device-width;text/html; charset=utf-8" http-equiv="Content-Type" />
    <title></title>
</head>
<body>
    @Section["Content"]

</body>
</html>
