﻿@{
    ViewBag.Title = "Index";
}
@model MvcDemo.Models.Student
<h2>Index</h2>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
                               @*路由传值*@
@using (Html.BeginForm("index", "home", new {Age ="21" },FormMethod.Get))
{
    @Html.TextBox("Name")
    @Html.ValidationMessageFor(s=>s.Name)
    <input type="submit" value="登录" />
}

@{Html.RenderPartial(@"~/Views/Home/_IndexPartial.cshtml");}
                                   @*向后传递值*@
@*@{Html.RenderAction("Partial", new { Name ="name"});}*@
@*也是调用控制器 用的不多
    @Html.Action("Index");*@
@*@Html.Partial()*@

@*生成URl*@
@Url.Action("Index");
@*@Html.Action("Index");*@




@Html.DropDownList("select", ViewData["select"] as IEnumerable < SelectListItem >);

<a href="@Url.Action("Index")">连接</a>


@section scripts{
    hello
}
<div>
    @Html.ActionLink("This is an outgoing URL", "Index", "Home", new { link ="link"},
        new { id = "myAnchorID", @class = "myCSSClass" })
</div>
<a rel="@Url.Action("Index")">a</a>
<iframe src="http://www.baidu.com" style="height:1200px;width:1200px">
    <p>您的浏览器不支持iframe 标签。</p>
</iframe>