﻿@{
    ViewBag.Title = "login";
}

<h2>login</h2>
@using (Html.BeginForm("login", "home", new { Age = "21" }, FormMethod.Post))
{
    @Html.TextBox("Name")<br/>
    @Html.TextBox("Password")<br />
    @Html.CheckBox("Remmber")<br />
    <input type="submit" value="登录" />
}



