﻿<!DOCTYPE html>
<html>
<head>
    <link href="~/content/stylecontent.css" rel="stylesheet" />
    <script src="~/content/jquery-1.8.2.js"></script>
    <script type="text/javascript">
        function deleItemList(ItemId)
        {
            $.ajax({
                type: "DELETE",
                url: "/todo",
                dataType: "json",
                data: {
                    ItemId: ItemId,
                },
                success: function (data) {
                    if (data == null){
                        alert("未知错误");
                    }
                    else if (data.state ==  0) {
                        alert(data.message);
                    }
                    else {
                        $("#" + ItemId).remove();
                        var trLength = $("#table tr").length;
                        if (trLength == 0) {
                            $("#table").remove();
                        }
                    }
                }
            });
        }
        /*
        测试代码
        $.ajax({
            type: "GET",
            url: "/todo/xiaohong",
            dataType: "json",
            success: function (data) {
                if (data == null){
                    alert("未知错误");
                }
                var state= data.state;
                if (state == 0)
                {
                    alert("更新失败");
                }
            }
            });
            */

        function ModifyItem(ItemId)
        {
            var ItemIdtext = ItemId*1+1*1;
            var ItemValue= $("#"+ItemIdtext).val();
            if(ItemValue == "")
            {
                return;
            }

            $.ajax({
                type: "PUT",
                url: "/todo",
                dataType: "json",
                data: {
                    ItemId: ItemId,
                    Titile:ItemValue
                },
                success: function (data) {
                    if (data == null){
                        alert("未知错误");
                    }
                    var State= data.state;
                    if (State == 0)
                    {
                        alert("更新失败");
                    }

                    ItemIdtext = ItemIdtext * 1 + 1 * 1;
                    var value = $("#" + ItemIdtext).text();
                    $("#" + ItemIdtext).text(ItemValue);
                }
            });
        }

    </script>                                                                                                           
    <meta name="viewport" content="width=device-width;text/html; charset=utf-8" http-equiv="Content-Type" />
    <title></title>
</head>
<body>
 
    @{
        List<NancyDemo.Model.viewListItem> lstTaskItem = Model as List<NancyDemo.Model.viewListItem>;
        if (lstTaskItem.Count != 0)
        {
            <table class="tablecenter" id="table">
                @foreach (var item in lstTaskItem)
                {
                    <tr id="@item.ItemId">
                        <td class="width">@item.ItemId</td>
                        @{
                            int editId = item.ItemId + 2;
                        }
                        <td  class="width"><span id="@editId">@item.Title</span></td>
                         @{
                            int id = item.ItemId+1;
                          }
                        <td class="width"><input type="text" class="width" id="@id" value="" /></td>
                        <td class="width"><input type="button" class="width" value="修改" onclick="ModifyItem(@item.ItemId)" /></td>
                        <td class="width"><a href="javascript:void(0)" onclick="deleItemList(@item.ItemId)">删除</a> </td>
                    </tr>
                }
            </table>
        }
     }
    <div class="centerLine">
        <p class="centerLine">查询成员</p>
        <form action="/todo/search" method="post">
            姓名: <input type="text" name="Title" class="width" />
            <input type="submit" value="查询" /><br /><br />
        </form>
    </div>

    <div class="centerLine">
        <p class="centerLine">添加成员</p>
        <form action="/todo" method="post">
            姓名: <input type="text" name="Title" class="width" />
            <input type="submit" value="提交" /><br /><br />
        </form>
    </div>


    @*绑定提交数据*@
    <form action="/ArrayOnObject" method="post">
        <input type="text" name="Tags" value="Tag1,Tag2,Tag3" />
        <input type="text" name="Ints" value="1,2,3,4,4,5,6,3,2,21,1" />
        <input type="submit" value="Submit" />
    </form>
</body>
</html>
