﻿<!DOCTYPE html>
<html>
<head>
    <link href="~/content/stylecontent.css" rel="stylesheet" />
    <script src="~/content/jquery-1.8.2.js"></script>
    <script type="text/javascript">

        $(function(){
            getAllList();
        });
        //加载DOM节点
        function ShowTable(data)
        {
            var lstTodo = data.result;
            var lstTodoLeng = lstTodo.length;
            if (lstTodoLeng == 0) {
                $("#table").remove();
                return;
            }
            var tableLength = $("#divtable table").length;
            if (tableLength == 0) {
                var table = $("<table class=\"tablecenter\" id=\"table\"></table>");
                $("#divtable").append(table);
            }
            //遍历数据添加子元素
            $.each(lstTodo, function () {
                //trID
                var trId = "#" + this.itemId;
                var tdspanId = "#" + this.itemId + "tdspan"
                var tr = $("<tr id=" + this.itemId + "/>");
                $("#table").append(tr);
                //Todo ID
                var tdId = $("<td class='width' >" + this.itemId + "</td>");
                tr.append(tdId);
                var tdValue = $("<td id = " + this.itemId + "value" + "></td>");
                var spanValue = $("<span id =" + this.itemId + "spanvalue" + ">" + this.title + "</span>");
                tdValue.append(spanValue);
                tr.append(tdValue);
                var tdtext = $("<td class='width'></td>");
                var tdtextid = this.itemId + ",value";
                var tdInput = $("<input type='text' class='width' id='" + this.itemId + "inputvalue" + "' value='' />");
                tdtext.append(tdInput);
                tr.append(tdtext);
                //todo btn
                var tdbtn = $("<td class='width'></td>");                           //为事件注册方法 
                var btn = $("<input type=\"button\" class=\"width\" value=\"修改\"  onclick=\"ModifyItem('" + tdtextid + "')\"/>");
                tr.append(tdbtn);
                tdbtn.append(btn);
                //删除标签
                var tddele = $("<td class='width'></td>");
                var btndelte = $("<a href='javascript:void(0)' onclick=\"deleItem('" + this.itemId + "')\">删除</a>");
                tr.append(tddele);
                tddele.append(btndelte);
            });
        }
        //获取所有的数据
        function getAllList()
        {
            $.ajax({
                type: "Get",
                url: "/todo",
                dataType: "json",
                success: function (data) {
                    debugger;
                    if (data == null){
                        alert("未知错误");
                    }
                    else if (data.state ==  0) {
                        alert(data.message);
                    }
                    else {
                        ShowTable(data);
                    }
                }
            });
        }

        //删除对应ID的Todo
        function deleItem(deleteId)
        {
            $.ajax({
                type: "DELETE",
                url: "/todo",
                dataType: "json",
                data: {
                    ItemId: deleteId,
                },
                success: function (data) {
                    if (data == null) {
                        alert("未知错误");
                    }
                    else if (data.state == 0) {
                        alert(data.message);
                    }
                    else {
                        $("#" + deleteId).remove();
                        var trLength = $("#table tr").length;
                        if (trLength == 0) {
                            $("#table").remove();
                        }
                    }
                }
            });
        }

        function ModifyItem(tdtextid) {
            var idCount = tdtextid.indexOf(",");
            var id = tdtextid.substring(0, idCount);
            var idTextvalue = "#" + id + "inputvalue";
            var Title = $(idTextvalue).val();
            ModifyAjax(id, Title);
        };

        //根据ID修改相应的Todo
        function ModifyAjax(id,title)
        {
            if (id == null || title == null || title==""||id=="")
            {
                return;
            }

            $.ajax({
                type: "PUT",
                url: "/todo",
                dataType: "json",
                data: {
                    ItemId: id,
                    Title: title
                },
                success: function (data) {
                    if (data == null) {
                        alert("未知错误");
                    }
                    var state = data.state;
                    if (state == 0) {
                        alert("更新失败");

                    }
                    //js更换标签
                    var IdSpan = "#" + id + "spanvalue";
                    $(IdSpan).text(title);
                }
            });
        }
        //添加新的元素
        function addItem()
        {
            $("#SearchTodo").val("");
            var Title = $("#addTodo").val();
            $.ajax({
                type: "POST",
                url: "/todo",
                dataType: "json",
                data: {
                    Title: Title
                },
                success: function (data) {
                    if (data == null) {
                        alert("未知错误");
                    }
                    var state = data.state;
                    if (state == 0) {
                        alert("添加失败");
                    }
                    var trLength = $("#table tr").length;
                    debugger;
                    if (trLength>0)
                    {
                        $("#table").remove();
                    }

                    getAllList();
                }
            });

        }
        //根据姓名查找Todo
        function SearchItem()
        {
            debugger;
            //查询的时候添加清空
            $("#addTodo").val("");
            var SearchName = $("#SearchTodo").val();
            if (SearchName == null || SearchName=="")
            {
                SearchName = "empty";
            }
            $.ajax({
                type: "GET",
                url: "/todo/"+SearchName ,
                success: function (data) {
                    if (data == null) {
                        alert("未知错误");
                    }
                    var state = data.state;
                        if (state == 0) {
                            alert("查找失败");
                            return;
                        }
                        var trLength = $("#table tr").length;
                        debugger;
                        if (trLength > 0) {
                            $("#table").remove();
                        }
                        ShowTable(data);

                    }
                });
        }

    </script>                                                                                                           
    <meta name="viewport" content="width=device-width;text/html; charset=utf-8" http-equiv="Content-Type" />
    <title></title>
</head>
<body id="mybody">
    <div class="centerLine" id="divtable">
        <table class="tablecenter" id="table"></table>
    </div>
    <div>
        <br />
    </div>
    <div class ="centerLine">
        姓名: <input type="text" id="addTodo" name="Title" class="width" />
        <input type="button" onclick="addItem()" value="添加" /><br /><br />
    </div>
        <div class="centerLine">
            查询: <input type="text" id="SearchTodo" name="Title" class="width" />
            <input type="button" onclick="SearchItem()" value="查询" /><br /><br />
      </div>
</body>
</html>
