﻿ <!DOCTYPE html>
<html>
<head>
    
    <title></title>
    
    <meta charset="utf-8" />
    
</head>
 
<body>
         <form method="post" action="/login">
                 <label>姓名：</label><input type="text" name="SystemUserName" /><br />
                 <label>密码：</label><input type="password" name="SystemUserPassword" /><br />
                 <input type="submit" />
        
    </form>
    
</body>
</html>