﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
     Layout = "Views/_Layout.cshtml";
 }
<script src="~/content/jquery-1.8.2.js"></script>
<script type="text/javascript">
    $(function () {

        //var token = $('[name=__RequestVerificationToken]');
        //获取防伪标记
        var token = $('@Html.AntiForgeryToken()').val();
        var headers = {};
        //防伪标记放入headers
        //也可以将防伪标记放入data
        headers["__RequestVerificationToken"] = token;
        $("#save").click(function () {
            $.ajax({
                type: 'POST',
                url: '/ajax',
                cache: false,
                headers: headers,
                data: { Name: "yangwen", Age: "1" },
                success: function (data) {
                    alert(data)
                },
                error: function () {
                    alert("Error")
                }
            });
        })

    })
 </script>
中间


                 @*安全验证*@
<form action="/post" method="POST">
    Name:<br/>
    <input type="text" name="name" value="" />
    <input type="submit" />
    @*CRS攻击*@
    @*@Html.AntiForgeryToken()*@
</form>

<input type="button" id="save" value="ajax" />

@{
    
    string Name = "主文件";
}

@Html.Partial("/_PartialIndex", Name)
