﻿<!DOCTYPE html>
<html>
<head>
    <link href="~/content/stylecontent.css" rel="stylesheet" />
                                                                                             
    <meta name="viewport" content="width=device-width;text/html; charset=utf-8" http-equiv="Content-Type" />
    <title></title>
</head>
<body>
    <div class="centerLine">
        <p class="centerLine">请修改</p>
        <form action="/student/modifyPost" method="post">
            姓名: <input type="text" name="Name" class="width" value="@Model.Name" />
            <input type="hidden" name="ID" class="width" value="@Model.ID" />
            <input type="submit" value="修改" />
        </form>
    </div>
       
</body>
</html>
