﻿<!DOCTYPE html>
<html>
<head>
    <link href="~/content/stylecontent.css" rel="stylesheet" />
    <script src="~/content/jquery-1.8.2.js"></script>
    <script type="text/javascript">
        function modifyStudent(studentID)
        {
            //跳转不能赋值为空
            window.location.href = "/student/show/" + studentID;
        }

        function deleStudent(studentID)
        {
            $.ajax({
                type: "post",
                url: "/student/delete",
                dataType: "json",
                data: {
                    StudentID: studentID,
                },
                success: function (data) {
                    debugger;
                    if (data == false){
                        alert("删除失败");
                    }
                    else {
                     
                        $("#" + studentID).remove();

                        var trLength = $("#table tr").length;
                        if (trLength == 0) {
                            $("#table").remove();
                        }
                        //测试table行数
                        //trLength = $("#table tr").length;
                    }
                }
            });

        }
    </script>                                                                                                   
    <meta name="viewport" content="width=device-width;text/html; charset=utf-8" http-equiv="Content-Type" />
    <title></title>
</head>
<body>
 
    @{
        List<NancyDemo.viewStudent> lstStudent = Model as List<NancyDemo.viewStudent>;
        if (lstStudent.Count != 0)
        {
            <table class="tablecenter" id="table">
                @foreach (var item in lstStudent)
                {
                    <tr id="@item.ID">
                        <td class="width">@item.ID</td>
                        <td class="width">@item.Name</td>
                        <td class="width"><a href="javascript:void(0)" onclick="modifyStudent(@item.ID);return false;">修改</a> </td>
                        <td class="width"><a href="javascript:void(0)" onclick="deleStudent(@item.ID)">删除</a> </td>
                    </tr>
                }
            </table>
        }
     }

    <div class="centerLine">
        <p class="centerLine">添加成员</p>
        <form action="/student/addstudent" method="post">
            姓名: <input type="text" name="Name" class="width" />
            <input type="submit" value="提交" /><br /><br />
        </form>
    </div>

    <div class="centerLine">
        <p class="centerLine">查询成员</p>
        <form action="/student/Search" method="post">
            姓名: <input type="text" name="Search" class="width" />
            <input type="submit" value="查询" /><br /><br />
        </form>
    </div>
</body>
</html>
