﻿<!DOCTYPE html>
<html>
<head>
    <link href="~/content/stylecontent.css" rel="stylesheet" />
                                                                                             
    <meta name="viewport" content="width=device-width;text/html; charset=utf-8" http-equiv="Content-Type" />
    <title></title>
</head>
<body>
    @*初步需要修改*@
    <div class="centerLine">
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" name="fileField" />
            <input type="submit" name="submit"  value="上传" />
        </form>
    </div>
</body>
</html>
