﻿
    body 
    {
        background-color: #f8f8f8;
    }
    .tablecenter
    {
        margin:auto;border: 2px solid black;
    }
    .center 
    {
        margin:auto;
    }
    .width
    {
        width:50px;
    }
    .centerLine 
    {
        text-align:center;
    }

    table tr td:hover
    {
        background: red;
    }
    .tdwidth
    {
        width:50px;
    }
    .btnWidth 
    {
        width:40px;
    }
    .txtWidth 
    {
       width:40px;
    }