﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    缓存 @ViewData["Cache"]
</div>




@using(Html.BeginForm("Index", "TestCache", FormMethod.Post))
{
    @Html.TextBox("Name");
    <input type="submit" value="提交"/>
}
